<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<h1>Login page</h1>

<form th:action="@{/login}" method="post">
    <div><label> Login : <input type="text" name="username" placeholder="enter your login"/> </label></div>
    <div><label> Password: <input type="password" name="password" placeholder="enter your password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>

<a href="/registration">
    <h1>Registration</h1>
</a>

</body>
</html>